/* Ajustes de estilo para el calendario en pantallas pequeñas */
.react-calendar {
    width: 100%;
    max-width: 100%;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
  }
  