@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'ClearSansLight';
    src: url('/fonts/font_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSansRegular';
    src: url('/fonts/font_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSansNormal';
    src: url('/fonts/font_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ClearSansLight' !important;
}
.f_principal {
    font-family: 'ClearSansLight';
}
.f_regular {
    font-family: 'ClearSansRegular';
}
.f_normal {
    font-family: 'ClearSansNormal';
}

.Principal {
    color: #336a41 !important;
}
.rect {
    height: 50px;
    width: 100%;
}
.bg_principal {
    background-color: #336a41 !important;
}
.border_principal {
    border-color: #336a41 !important;
    border: 2px solid;
}
.border_secundario {
    border-color: #5c90bd !important;
    border: 1px solid;
}
.Secundario {
    color: #5c90bd !important;
}
.bg_secundario {
    background-color: #5c90bd !important;
}
.Terciario {
    color: #bec724 !important;
}
.bg_terciario {
    background-color: #bec724 !important;
}
.Blanco {
    color: #ffffff;
}
.bg_blanco {
    background-color: #ffffff;
}
.Negro {
    color: #000000;
}
.bg_negro {
    background-color: #000000;
}
.txt_lg {
    font-size: 30px;
}
.title {
    text-align: center;
    font-family: 'Clear Sans Light', sans-serif;
    color: #336A41;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 48px;
    font-weight: bold;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 24px;
  }
  
  .card {
    border: none;
    border-radius: 16px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Clear Sans Light', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .textContainer {
    padding: 20px;
  }
  
  .name {
    margin: 10px 0 5px;
    font-size: 24px;
    color: #333;
  }
  
  .description {
    margin: 0;
    font-size: 16px;
    color: #666;
  }
  .feedback-section {
    text-align: center;
  }
  
  .feedback-container {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .feedback-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    margin: 0 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .feedback-card img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .feedback-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
  .course-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  .carousel-image {
    max-height: 400px;
    object-fit: contain;
  }
  .react-calendar {
    width: 100%;
    max-width: 100%;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
  }
  /* Tutores.css */
.title {
    text-align: center;
    font-family: 'Clear Sans Light', sans-serif;
    color: #336A41;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 48px;
    font-weight: bold;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 24px;
  }
  
  .card {
    border: none;
    border-radius: 16px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Clear Sans Light', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .textContainer {
    padding: 20px;
  }
  
  .name {
    margin: 10px 0 5px;
    font-size: 24px;
    color: #333;
  }
  
  .description {
    margin: 0;
    font-size: 16px;
    color: #666;
  }